
h2 {
  font-style: italic;

  color: crimson;
  h1{

  }
p{

}
body{
  width: 10%;
  position:static;
  background-position:top;
  background-image:/home/mwaura/Documents/Resort-Website/resort2.jpg;
  font-family: sans-serif;
}

/*.content-wrapper img{
   width: 100%;

}*/
/*.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -53%;
  padding-right:0;
}
.text-wrapper h1{
  text-align: center;
width: 10%;

}*/
